<%- include('../common/header') %>
<div class="pc-container">
          <div class="pc-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
              <div class="page-block">
                <div class="row align-items-center">
                  <div class="col-md-12">
                    <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">View Orders</a></li>
                      <li class="breadcrumb-item"><a href="javascript: void(0)">View Orders</a></li>
                      <li class="breadcrumb-item" aria-current="page">View Orders</li>
                    </ul>
                  </div>
                  <div class="col-md-12">
                    <div class="page-header-title">
                      <h2 class="mb-0">View Orders</h2>
                    </div>
                  </div>
                  <% if (success_msg && success_msg.length > 0) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <%= success_msg %>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
            <h4 class="mt-0 header-title">View Orders</h4>
            <hr style="margin-bottom: 50px;background-color: darkgrey;">
            <div class="container mt-5">
                    <div class="row">
                            </div>
                            <hr style="margin-bottom: 50px;background-color: darkgrey;">
                            <div class="table-rep-plugin">
                              <div class="table-responsive b-0" data-pattern="priority-columns">
                                <table id="userTable" class="table  table-striped">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th data-priority="1">User name</th>
                                      <th data-priority="1">payment</th>
                                      <th data-priority="6">total_ammount</th>
                                      <th data-priority="6">orderDate</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                        <% let a = 1; %> <!-- Initialize counter variable -->
                                        <% get_data.forEach(function(data) { %>
                                          <tr>
                                            <td><%= a %></td> <!-- Display counter variable -->
                                            <td><%= data.username %></td>
                                            <% if (data.payment == 1) { %>
                                                  <td>Cash on Delivery</td>
                                                <% } else { %>
                                                  <td>Online Payment</td>
                                                <% } %>
                                            <td><%= data.total_ammount %></td>
                                            <td><%= data.orderDate %></td>
                                           
                                            <td style="display:flex;margin-top: 2rem;">
                                        <a href="/admin/view_order/<%= data._id%>" class="btn btn-info">view</a>
                                            </td> 
                                          </tr>
                                          <% a++; %> <!-- Increment counter variable -->
                                        <% }); %>
                                      </tbody>
                                      
                                </table>
                              </div>
                            </div>   
                </div>
          </div>
        </div>
        <%- include('../common/footer')%>       