<%- include('../common/header') %>
<div class="pc-container">
          <div class="pc-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
              <div class="page-block">
                <div class="row align-items-center">
                  <div class="col-md-12">
                    <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">View Orders</a></li>
                      <li class="breadcrumb-item"><a href="javascript: void(0)">View Orders</a></li>
                      <li class="breadcrumb-item" aria-current="page">View Orders</li>
                    </ul>
                  </div>
                  <div class="col-md-12">
                    <div class="page-header-title">
                      <h2 class="mb-0">View Orders</h2>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <h4 class="mt-0 header-title">View Orders</h4>
            <hr style="margin-bottom: 50px;background-color: darkgrey;">
            <div class="container mt-5">
                    <div class="row">
                            </div>
                            <hr style="margin-bottom: 50px;background-color: darkgrey;">
                            <div class="table-rep-plugin">
                              <div class="table-responsive b-0" data-pattern="priority-columns">
                                        <table class="table axil-product-table axil-wishlist-table">
                                                  <thead>
                                                      <tr>
                                                       
                                                          <th scope="col" class="product-thumbnail">Product</th>
                                                          <th scope="col" class="product-title">Name</th>
                                                          <th scope="col" class="product-price">Unit Price</th>
                                                          <th scope="col" class="product-stock-status">Quantity</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                    <% all_data.forEach((data) => { %>
                                                        <tr>
                                                          <td class="product-thumbnail">
                                                              <img src="<%= data.product_data.images[0] %>" alt="Digital Product">
                                                          </td>
                                                          <td class="product-title">
                                                            <%= data.product_data.name %>
                                                          </td>
                                                          <td class="product-price" data-title="Price">
                                                            <%= data.product_data.price %>
                                                          </td>
                                                          <td class="product-stock-status" data-title="Status"><%= data.quantity %></td>
                                                        </tr>
                                                      <% }) %>
                                                      
                                                      
                                                  </tbody>
                                              </table>
                              </div>
                            </div>   
                </div>
          </div>
        </div>
        <%- include('../common/footer')%>       