<%- include('../front/common/header') %>
<main class="main-wrapper">

          <!-- Start Wishlist Area  -->
          <div class="axil-wishlist-area axil-section-gap">
              <div class="container">
                  <div class="product-table-heading">
                      <h4 class="title">Your Product</h4>
                  </div>
                  <div class="table-responsive">
                      <table class="table axil-product-table axil-wishlist-table">
                          <thead>
                              <tr>
                               
                                  <th scope="col" class="product-thumbnail">Product</th>
                                  <th scope="col" class="product-title">Name</th>
                                  <th scope="col" class="product-price">Unit Price</th>
                                  <th scope="col" class="product-stock-status">Quantity</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% all_data.forEach((data) => { %>
                                <tr>
                                  <td class="product-thumbnail">
                                      <img src="/<%= data.product_data.images[0] %>" alt="Digital Product">
                                  </td>
                                  <td class="product-title">
                                    <%= data.product_data.name %>
                                  </td>
                                  <td class="product-price" data-title="Price">
                                    <%= data.product_data.price %>
                                  </td>
                                  <td class="product-stock-status" data-title="Status"><%= data.quantity %></td>
                                </tr>
                              <% }) %>
                              
                              
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <!-- End Wishlist Area  -->
      </main>
  
<%- include('../front/common/footer') %> 